@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #c9d6f1;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.15);
}

.borderBlack {
  @apply border border-black/10;
}

.icon-wrapper {
  width: 4rem; /* Ensure it matches the iconStyle size */
  height: 4rem; /* Ensure it matches the iconStyle size */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
